*{
    margin: 5px;
    font-family: monospace;

}

body{
    margin: 20px auto;
    width: 70%;
    height: 100%;
    color: white;
    background-color: #042b42;
    text-align: center;
}

header{
    margin: 10px 10px 30px 10px;
}
